# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\EPAM Java Aytumn 2020 Practice\servletWebProject\servletPaymentsApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
